/* SCSS Document */
@charset "UTF-8";



/****************************************************************************
    common                                  https://getbootstrap.com 참고함
****************************************************************************/
/* overflow */ 
.overflow-auto {overflow:auto !important}
.overflow-hidden {overflow:hidden !important}
.overflow-visible {overflow:visible !important}
.overflow-scroll {overflow:scroll !important}

/* display */
.d-flex  {display:flex !important}
.d-block  {display:block !important}

/* flex */
.flex-column {flex-direction:column !important}
.justify-content-between {justify-content:space-between !important}
.justify-content-center {justify-content:center !important}
.align-items-center {align-items:center !important}

/* float */
.float-start {float:left !important}
.float-end {float:right !important}
.float-none {float:none !important}
.clear-start {clear:left !important}
.clear-end {clear:right !important}
.clear-both {clear:both !important}

/* position */
.position-relative {position:relative}
.position-absolute {position:absolute}
.position-fixed {position:fixed}

/* Text alignment */
.text-left {text-align:left !important}
.text-center {text-align:center !important}
.text-right {text-align:right !important}

/* Word break */ 
.word-break {word-wrap:break-word}
.word-keep {word-break:keep-all}

/* margin */
.m {
    $value: t top, r right, b bottom, l left;
    @each $class, $name in $value {
        @for $i from 0 through 100 {
            $margin : $i * 0.1;
            &#{$class+"-"+$i} {
                #{"margin-"+$name}:#{$margin}vw !important;
            }
        }
    }
}
.mx-auto {margin:0 auto}

/* padding */
.p {
    $value: t top, r right, b bottom, l left;
    @each $class, $name in $value {
        @for $i from 0 through 100 {
            $margin : $i * 0.1;
            &#{$class+"-"+$i} {
                #{"padding-"+$name}:#{$margin}vw !important;
            }
        }
    }
}

/* Text alignment */
.text-left {text-align:left !important}
.text-center {text-align:center !important}
.text-right {text-align:right !important}

/* Word break */ 
.word-break {word-wrap:break-word}
.word-keep {word-break:keep-all}

/* color */
.color {
    $value: #ffffff, #000000;
    @each $hexCode in $value {
        $class: str-slice(#{$hexCode}, 2, 7);
        &#{"-"+$class} {
            color:#{$hexCode};
        }
    }
}

/* Font weight and italics */ 
.fw-bold {font-weight:bold !important;}
.fw-bolder {font-weight:bolder !important;}
.fw-normal {font-weight:400 !important;}
.fw-light {font-weight:300 !important;}
.fw-lighter {font-weight:lighter !important;}
.fst-italic {font-style:italic !important}
.fst-normal {font-style:normal !important;}

/* line-height */ 
.lh {    
    @for $i from 0 through 100 {        
        &#{"-"+$i} {
            line-height:#{$i * 0.1}em !important;
        }
    }    
}

/* images */
.img-fluid {max-width:100%;height:auto;vertical-align:middle}

/* cursor & pointer-event */
.pointer-none {pointer-events:none !important} 



/****************************************************************************
    layout
****************************************************************************/
/* Frame */
html,body {width:100%;height:100%}
#wrap {position:relative;width:100%;color:#000013;font-size:3.6vw;line-height:1.5}
#header {position:relative;z-index:30}
#container {position:relative;z-index:20}
#footer {position:relative;z-index:10}
.inner {position:relative;margin:0 auto;padding:0 4.4444vw;height:100%;}
