/* SCSS Document */
@charset "UTF-8";



/****************************************************************************
    Breakpoints                               https://getbootstrap.com 참고함
****************************************************************************/
$G-breakpoint-small: 576px;
$G-breakpoint-medium: 768px;
$G-breakpoint-large: 1024px;
$G-breakpoint-extraLarge: 1680px;
$G-breakpoint-extraExtraLarge: 1920px;